<section class="module-main-container module-centered">
	<div class="module-main">

	<%= image_tag("/images/events/Octocat.png", class: "module-main__image") %>
	
		<div class="module-main__text">
			<h2 class="module-main__header">Our Next Event</h2>
			<h3 class="module-main__title">Adopting Functional Programming: The Good, the Familiar, the Unknown</h3>
			<%= link_to '18 people attending', 'http://meetup.com', class: "module-main__attendees module-main__link" %>
			<p class="module-main__speaker">Talk by <%= link_to 'Colin Jones', 'http://8thlight.com/team', class: "module-main__link" %>, Crafter at <%= link_to '8th Light', 'http://8thlight.com', class: "module-main__link" %></p>
			<p class="module-main__date">Thursday, October 10th, 2016</p>
			<p class="module-main__time">6:00 pm</p>
			<div class="module-main__location">
				<p>Merchandise Mart</p>
				<p>Room 912</p>
				<p>432 N Wells St</p>
				<p>Chicago IL</p>
			</div>
			<p class="module-main__description__main">
				<span>What is functional programming (FP) and how can developers use it to increase the quality of their software?</span>
				This talk will explore the benefits of FP, how it differs from object oriented programming, and discuss...
			</p>
			<p class="module-main__description__more"> <%= link_to 'Read more', 'http://meetup.com', class: "module-main__link" %> </p>
			<input type="submit" value="RSVP" class="button module-main__button">
		</div>

	</div>

</section>