<nav>
  <div class="nav-wrapper">
    <ul class="clean-list left">
      <li>
        <%= link_to image_tag("images/chisc-logo.svg"), "/index.html", :class => 'logo' %>
      </li>
    </ul>

    <ul class="clean-list right--md">
      <li>
        <%= link_to "Home", "#", :class => 'clean-list__item' %>
      </li>    
      <li>
        <%= link_to "Events", "#", :class => 'clean-list__item' %>
      </li>
      <li>
        <%= link_to "About", "#", :class => 'clean-list__item' %>
      </li>
      <li>
        <%= link_to "Resources", "#", :class => 'clean-list__item' %>
      </li>
    </ul>
  </div>
</nav>