<nav>
  <div class="nav-wrapper">
    <ul class="clean-nav left">
      <li>
        <%= link_to image_tag("images/csclogo.svg"), "/index.html", :class => 'logo' %>
      </li>
    </ul>

    <ul class="clean-nav right--md">
      <li class="clean-nav__item">
        <%= link_to "Home", "index.html" %>
      </li>    
      <li class="clean-nav__item">
        <%= link_to "Events", "events.html" %>
      </li>
      <li class="clean-nav__item">
        <%= link_to "About", "/about.html" %>
      </li>
      <li class="clean-nav__item">
        <%= link_to "Resources", "/resources.html" %>
      </li>
    </ul>
  </div>
</nav>