<nav>
  <div class="nav-wrapper">
    <ul class="clean-list left">
      <li>
        <%= link_to image_tag("images/chisc-logo.svg"), "/index.html", :class => 'logo' %>
      </li>
    </ul>

    <ul class="clean-list right--md">
      <li class="clean-list__item">
        <%= link_to "Home", "#" %>
      </li>    
      <li class="clean-list__item">
        <%= link_to "Events", "#" %>
      </li>
      <li class="clean-list__item">
        <%= link_to "About", "#" %>
      </li>
      <li class="clean-list__item">
        <%= link_to "Resources", "#" %>
      </li>
    </ul>
  </div>
</nav>